In [ ]:
import boto3
import pandas as pd
from io import StringIO

In [ ]:
AWS_ACCES_KEY = ""
AWS_SECRET_KEY = ""
AWS_REGION="us-east-1"
SCHEMA_NAME = "project_red_db"
S3_STAGING_DIR = "s3://bcuk/prd/" 
S3_BUCKET_NAME = "prd"
S3_OUTPUT_DIRECTORY = "prd"

In [ ]:
athena_client=boto3.client(
    "athena",
    aws_acces_key_id=AWS_ACCES_KEY,
    aws_secret_access_key =AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

In [ ]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This func loads 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_acces_key_id=AWS_ACCES_KEY,
        aws_secret_acces_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [ ]:
response_ps4 = athena_client.start_query_execution(
    QueryString="SELECT * FROM ps4",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultCOnfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptioConfiguration": {"EncryptionOption":"SSE_s3"},
        
    },
)

df_data = download_and_load_query_results(athena_client, response)

In [ ]:
response ## pa ver el status

In [ ]:
df_ps4= download_and_load_query_results(athena_client, response_ps4)

In [ ]:
df_ps4.head()

In [ ]:
response_xbox = athena_client.start_query_execution(
    QueryString="SELECT * FROM xbox",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultCOnfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptioConfiguration": {"EncryptionOption":"SSE_s3"},
        
    },
)

df_xbox= download_and_load_query_results(athena_client, response_xbox)

In [ ]:
response_pc = athena_client.start_query_execution(
    QueryString="SELECT * FROM pc",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultCOnfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptioConfiguration": {"EncryptionOption":"SSE_s3"},
        
    },
)

df_pc= download_and_load_query_results(athena_client, response_pc)

In [ ]:
import boto3
import pandas as pd
from io import StringIO

AWS_ACCES_KEY = ""
AWS_SECRET_KEY = ""
AWS_REGION="us-east-1"
SCHEMA_NAME = "project_red_db"
S3_STAGING_DIR = "s3://bucketpararedsifht/Project_redshift/" 
S3_BUCKET_NAME = "bucketpararedsifht"
S3_OUTPUT_DIRECTORY = "Project_redshift"

athena_client=boto3.client(
    "athena",
    aws_acces_key_id=AWS_ACCES_KEY,
    aws_secret_access_key =AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This func loads 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_acces_key_id=AWS_ACCES_KEY,
        aws_secret_acces_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)


response_ps4 = athena_client.start_query_execution(
    QueryString="SELECT * FROM ps4",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultCOnfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptioConfiguration": {"EncryptionOption":"SSE_s3"},
        
    },
)

df_data = download_and_load_query_results(athena_client, response)

response ## pa ver el status

df_ps4= download_and_load_query_results(athena_client, response_ps4)

df_ps4.head()

response_xbox = athena_client.start_query_execution(
    QueryString="SELECT * FROM xbox",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultCOnfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptioConfiguration": {"EncryptionOption":"SSE_s3"},
        
    },
)

df_xbox= download_and_load_query_results(athena_client, response_xbox)

response_pc = athena_client.start_query_execution(
    QueryString="SELECT * FROM pc",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultCOnfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptioConfiguration": {"EncryptionOption":"SSE_s3"},
        
    },
)

df_pc= download_and_load_query_results(athena_client, response_pc)

## Transform

##### Proceso de Transformacion: A Clasificacion Peruana y arreglando el Global Rate

In [89]:
df_ps4.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [90]:
## Drop Rest of World y Global, cambiamos este ultimo
df_ps4 = df_ps4.drop(["Rest of World","Global"], axis=1)

In [92]:
df_ps4[["North America","Europe"]] = df_ps4[["North America","Europe"]]*2
df_ps4[["Japan"]] = df_ps4[["Japan"]]*20

In [93]:
df_ps4["Global Rate"] = df_ps4["Japan"]+df_ps4["Europe"]+df_ps4["North America"]

In [94]:
df_ps4["Global Rate"] = df_ps4["Global Rate"]/3

In [96]:
df_xbox.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [97]:
df_xbox = df_xbox.drop(["Rest of World","Global"], axis=1)

In [98]:
df_xbox[["North America","Europe"]] = dfxbox[["North America","Europe"]]*4
df_xbox[["Japan"]] = df_xbox[["Japan"]]*200

In [99]:
df_xbox["Global Rate"] = df_xbox["Japan"]+df_xbox["Europe"]+df_xbox["North America"]

In [100]:
df_xbox["Global Rate"] = df_xbox["Global Rate"]/3

In [76]:
df_pc.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
df_pc = df_pc.drop(["Other_Sales","Rating"], axis=1)

# Loading to s3

In [ ]:
bucket="bucketpararedsifht"

In [ ]:
csv_buffer=StringIO()

In [ ]:
factCovid.to_csv(csv_buffer)

In [ ]:
s3_resource = boto3.resource("s3")
s3_resource.Object(bucket, 'final_output/df_pc.csv').put(Body=csv_buffer.getvalue())

In [ ]:
s3_resource1 = boto3.resource("s3")
s3_resource1.Object(bucket, 'final_output/df_ps4.csv').put(Body=csv_buffer.getvalue())

In [ ]:
s3_resource2 = boto3.resource("s3")
s3_resource2.Object(bucket, 'final_output/df_xbox.csv').put(Body=csv_buffer.getvalue())

## Redshift conn
#### El siguiente código será usado un Job en Glue para enviar la data a Redshift

In [ ]:

import redshift_connector
conn = redshift_connector.connect(
    host = 'redshift-cluster-1.cajf5la2kg9f.us-east-1.redshift.amazonaws.com',
    database='dev',
    user="awsuser"
    password="***************"
    )

conn.autocommit = True

cursor = redshift_connector.Cursor = conn.cursor()

cursor.execute(""" CREATE TABLE "PS4_GAMES_SALES" (
"index" INTEGER,
  "Game" TEXT,
  "Year" REAL,
  "Genre" TEXT,
  "Publisher" TEXT,
  "North America" REAL,
  "Europe" REAL,
  "Japan" REAL,
  "Global Rate" REAL
)
""")

cursor.execute(""" CREATE TABLE "XBOX_SALES" (
"index" INTEGER,
  "Pos" INTEGER,
  "Game" TEXT,
  "Year" REAL,
  "Genre" TEXT,
  "Publisher" TEXT,
  "North America" REAL,
  "Europe" REAL,
  "Japan" REAL,
  "Global Rate" REAL
)
""")

cursor.execute(""" CREATE TABLE "dfpc" (
"index" INTEGER,
  "Name" TEXT,
  "Platform" TEXT,
  "Year_of_Release" REAL,
  "Genre" TEXT,
  "Publisher" TEXT,
  "NA_Sales" REAL,
  "EU_Sales" REAL,
  "JP_Sales" REAL,
  "Global_Sales" REAL,
  "Critic_Score" REAL,
  "Critic_Count" REAL,
  "User_Score" REAL,
  "User_Count" REAL,
  "Developer" TEXT
""")

cursor.execute("""
copy df_pc from 's3://bucketpararedsifht/final_output/df_pc.csv'
credentials 'aws_iam_role=arn:aws:iam::691119770807:role/MiRoleRedshift'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

cursor.execute("""
copy df_ps4 from 's3://bucketpararedsifht/final_output/df_ps4.csv'
credentials 'aws_iam_role=arn:aws:iam::691119770807:role/MiRoleRedshift'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

cursor.execute("""
copy df_xbox from 's3://bucketpararedsifht/final_output/df_xbox.csv'
credentials 'aws_iam_role=arn:aws:iam::691119770807:role/MiRoleRedshift'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")